<footer class="footer">
  <div class="content">
    <p>
      Copyleft 🄯 Fernando Basso
    </p>

    <p>
      Text licensed under
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
      >
        CC BY-NC-SA 4.0
      </a>
      and code licensed under
      <a
        href="https://www.gnu.org/licenses/gpl-3.0.en.html"
        target="_blank"
      >
        GPLv3
      </a>
    </p>

    <p>
      Built with
      <a
        href="https://docs.asciidoctor.org/asciidoc/latest/"
        target="_blank"
      >
        AsciiDoc
      </a>
      and
      <a
        href="https://docs.antora.org/antora/latest/"
        target="_blank"
      >
        Antora.
      </a>
      |
      <a
        href="https://gitlab.com/devhowto"
        target="_blank"
      >
        Dev How To Gitlab Repository
      </a>
    </p>
  </div>
</footer>
