{{!
On the AsciiDoc pages, besides the title, optionally provide a subtitle
using an Antora page attribute:

    = My Page
    :page-subtitle: My Subtitle

Then the <title> tag will contain something like this:

    <title> My Page :: My Subtitle :: Dev How To</title>
}}
    <title>
    {{~{detag (or page.title defaultPageTitle)}~}}
    {{~#with page.attributes.subtitle}} :: {{this~}}{{~/with~}}
    {{~#with site.title}} :: {{this~}}{{~/with~}}
    </title>
